[Desktop Entry]
Exec=kcmshell4 kcm_phononxine
Icon=phonon
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/phononxine/index.html

X-KDE-Library=kcm_phononxine
X-KDE-ParentComponents=phonon_xine

Name=Phonon Xine
Name[nds]=Phonon-Xine
Name[pt]=Phonon com Xine
Name[x-test]=xxPhonon Xinexx
Comment=Xine Backend Configuration
Comment[ca]=Configuració del dorsal pel Xine
Comment[cs]=Nastavení Xine backendu
Comment[el]=Ρύθμιση του συστήματος υποστήριξης Xine
Comment[es]=Configuración del motor Xine
Comment[et]=Xine taustaprogrammi seadistamine
Comment[ga]=Cumraíocht Inneall Xine
Comment[gl]=Configuración da infraestrutura Xine
Comment[ja]=Xine バックエンドの設定
Comment[ko]=Xine 백엔드 설정
Comment[nds]=Instellen vun't Xine-Hülpprogramm
Comment[nn]=Oppsett av Xine-motor
Comment[pt]=Configuração da Infra-Estrutura do Xine
Comment[sv]=Inställning av Xine-gränssnitt
Comment[uk]=Налаштування сервера Xine
Comment[x-test]=xxXine Backend Configurationxx
Comment[zh_CN]=Xine 后端配置
Comment[zh_TW]=Xine 後端介面設定
X-KDE-Keywords=Xine
X-KDE-Keywords[ne]=जाइन
X-KDE-Keywords[sr]=Xine,Ксине
X-KDE-Keywords[sr@latin]=Xine,Xine
X-KDE-Keywords[x-test]=xxXinexx
