[Desktop Entry]
Exec=kcmshell4 kcm_phononxine
Icon=phonon
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/phononxine/index.html

X-KDE-Library=kcm_phononxine
X-KDE-ParentComponents=phonon_xine

Name=Phonon Xine
Name[nds]=Phonon-Xine
Comment=Xine Backend Configuration
Comment[et]=Xine taustaprogrammi seadistamine
Comment[ga]=Cumraíocht Inneall Xine
Comment[ja]=Xine バックエンドの設定
Comment[nds]=Instellen vun't Xine-Hülpprogramm
X-KDE-Keywords=Xine
X-KDE-Keywords[ne]=जाइन
X-KDE-Keywords[sr]=Xine,Ксине
X-KDE-Keywords[sr@latin]=Xine,Xine
X-KDE-Keywords[x-test]=xxXinexx
