[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kdem2mBackend
X-KDE-Library=kdem2m_fake
X-KDE-MMBackendInfo-Version=0.1
X-KDE-MMBackendInfo-Website=http://multimedia.kde.org/
InitialPreference=1
Name=Fake
Comment=Testing Backend
