[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PhononBackend
MimeType=audio/x-vorbis+ogg;audio/mpeg;audio/x-wav;video/x-ogm+ogg;
X-KDE-Library=phonon_fake
X-KDE-PhononBackendInfo-InterfaceVersion=1
X-KDE-PhononBackendInfo-Version=0.1
X-KDE-PhononBackendInfo-Website=http://multimedia.kde.org/
InitialPreference=1
Name=Fake
Name[el]=Εικονικό
Name[es]=Imitación
Name[et]=Liba
Name[fr]=Simulation
Name[ga]=Bréag
Name[gl]=Falso
Name[lv]=Neīsts
Name[nds]=Namaakt
Name[nn]=Falsk
Name[pa]=ਫ਼ਰਜ਼ੀ
Name[pt]=Falso
Name[sl]=Lažna
Name[sr]=Лажна
Name[sr@latin]=Lažna
Name[sv]=Testexempel
Name[tr]=Sahte
Name[uk]=Муляж
Name[x-test]=xxFakexx
Name[zh_CN]=虚假
Comment=Testing Backend
Comment[bg]=Тестване
Comment[ca]=Dorsal de proves
Comment[da]=Test-backend
Comment[el]=Δοκιμαστικό σύστημα υποστήριξης
Comment[es]=Motor de pruebas
Comment[et]=Testtaustaprogramm
Comment[fr]=Système de gestion de test
Comment[ga]=Inneall Tástála
Comment[gl]=Infraestrutura de probas
Comment[lv]=Testēšanas aizmugure
Comment[nds]=Utprobeer-Hülpprogramm
Comment[nn]=Testmotor
Comment[pa]=ਟੈਸਟਿੰਗ ਬੈਕਐਂਡ
Comment[pt]=Infra-Estrutura de Testes
Comment[sl]=Hrbtenica za preizkušanje
Comment[sr]=Пробна позадина
Comment[sr@latin]=Probna pozadina
Comment[sv]=Testgränssnitt
Comment[tr]=Test Arka Ucu
Comment[uk]=Тестування сервера
Comment[x-test]=xxTesting Backendxx
Comment[zh_CN]=测试后端
