[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PhononBackend
MimeType=audio/x-vorbis+ogg;audio/mpeg;audio/x-wav;video/x-ogm+ogg;
X-KDE-Library=phonon_fake
X-KDE-PhononBackendInfo-InterfaceVersion=1
X-KDE-PhononBackendInfo-Version=0.1
X-KDE-PhononBackendInfo-Website=http://multimedia.kde.org/
InitialPreference=1
Name=Fake
Name[bg]=Фалшиво
Name[ca]=Fake
Name[cs]=Falešný
Name[da]=Fake
Name[de]=Fake
Name[el]=Εικονικό
Name[en_GB]=Fake
Name[es]=Imitación
Name[et]=Liba
Name[eu]=Itxura egin
Name[fr]=Simulation
Name[ga]=Bréag
Name[gl]=Falso
Name[hsb]=Wudawany
Name[hu]=Nem igazi
Name[is]=Tilbúningur
Name[it]=Finto
Name[ja]=Fake
Name[ko]=가짜
Name[ku]=Lêp
Name[lt]=Netikras
Name[lv]=Neīsts
Name[nb]=Falsk
Name[nds]=Namaakt
Name[nl]=Fake
Name[nn]=Falsk
Name[pa]=ਫ਼ਰਜ਼ੀ
Name[pl]=Sztuczne
Name[pt]=Falso
Name[pt_BR]=Falso
Name[se]=Mahkáš
Name[sk]=Imitovať
Name[sl]=Lažna
Name[sr]=Лажна
Name[sr@latin]=Lažna
Name[sv]=Testexempel
Name[tr]=Sahte
Name[uk]=Муляж
Name[x-test]=xxFakexx
Name[zh_CN]=虚假
Name[zh_TW]=Fake
Comment=Testing Backend
Comment[bg]=Тестване
Comment[ca]=Dorsal de proves
Comment[cs]=Testovací backend
Comment[da]=Test-backend
Comment[de]=Treiber für Testzwecke
Comment[el]=Δοκιμαστικό σύστημα υποστήριξης
Comment[en_GB]=Testing Backend
Comment[es]=Motor de pruebas
Comment[et]=Testtaustaprogramm
Comment[eu]=Frogatarako backend
Comment[fr]=Système de gestion de test
Comment[ga]=Inneall Tástála
Comment[gl]=Infraestrutura de probas
Comment[hsb]=Testowanje backenda
Comment[hu]=Tesztmodul
Comment[is]=Prófunarbakendi
Comment[it]=Motore di test
Comment[ja]=テスト用バックエンド
Comment[ko]=테스트 백엔드 
Comment[ku]=Ceribandina Binesazê
Comment[lt]=Bandomoji galinė sąsaja
Comment[lv]=Testēšanas aizmugure
Comment[nb]=Testmotor
Comment[nds]=Utprobeer-Hülpprogramm
Comment[nl]=Testbackend
Comment[nn]=Testmotor
Comment[pa]=ਟੈਸਟਿੰਗ ਬੈਕਐਂਡ
Comment[pl]=Program testowy
Comment[pt]=Infra-Estrutura de Testes
Comment[pt_BR]=Testando infraestrutura
Comment[se]=Geahččalanduogášmohtor
Comment[sk]=Testujem podsystém
Comment[sl]=Hrbtenica za preizkušanje
Comment[sr]=Пробна позадина
Comment[sr@latin]=Probna pozadina
Comment[sv]=Testgränssnitt
Comment[tr]=Test Arka Ucu
Comment[uk]=Тестування сервера
Comment[x-test]=xxTesting Backendxx
Comment[zh_CN]=测试后端
Comment[zh_TW]=測試後端介面
