[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PhononBackend
MimeType=audio/x-vorbis+ogg;audio/mpeg;audio/x-wav;video/x-ogm+ogg;
X-KDE-Library=phonon_fake
X-KDE-PhononBackendInfo-InterfaceVersion=1
X-KDE-PhononBackendInfo-Version=0.1
X-KDE-PhononBackendInfo-Website=http://multimedia.kde.org/
InitialPreference=1
Name=Fake
Name[sr]=Лажна
Name[sr@latin]=Lažna
Comment=Testing Backend
Comment[sr]=Пробна позадина
Comment[sr@latin]=Probna pozadina
