[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PhononBackend
MimeType=application/x-annodex;video/quicktime;video/x-quicktime;audio/x-m4a;application/x-quicktimeplayer;video/mkv;video/msvideo;video/x-msvideo;video/x-flic;audio/x-aiff;audio/aiff;audio/x-pn-aiff;audio/x-realaudio;audio/basic;audio/x-basic;audio/x-pn-au;audio/x-8svx;audio/8svx;audio/x-16sv;audio/168sv;image/x-ilbm;image/ilbm;video/x-anim;video/anim;image/png;image/x-png;video/mng;video/x-mng;audio/x-ogg;audio/x-speex+ogg;application/ogg;application/ogg;audio/vnd.rn-realaudio;audio/x-pn-realaudio-plugin;audio/x-real-audio;application/vnd.rn-realmedia;video/mpeg;video/x-mpeg;audio/x-wav;audio/wav;audio/x-pn-wav;audio/x-pn-windows-acm;audio/mpeg2;audio/x-mpeg2;audio/mpeg3;audio/x-mpeg3;audio/mpeg;audio/x-mpeg;x-mpegurl;audio/x-mpegurl;audio/mp3;audio/mpeg;video/x-ms-asf;application/x-flash-video;
X-KDE-Library=phonon_xine
X-KDE-PhononBackendInfo-InterfaceVersion=1
X-KDE-PhononBackendInfo-Version=0.2.60
X-KDE-PhononBackendInfo-Website=http://www.xinehq.de/
Icon=phonon-xine
InitialPreference=15

Name=Xine
Name[hi]=एक्साइन
Name[ml]=സൈന്‍
Name[mr]=एक्साइन
Name[ne]=जाइन
Name[sr]=Ксине
Name[ta]=சைன்
Name[te]=క్సైన్
Name[x-test]=xxXinexx

Comment=Phonon Xine backend
Comment[bg]=Заден слой Phonon Xine
Comment[bn_IN]=Phonon Xine ব্যাক-এন্ড
Comment[ca]=Dorsal Xine del Phonon
Comment[csb]=Czérownik Phonon Xine
Comment[da]=Xine-motor til Phonon
Comment[de]=Phonon Xine-Treiber
Comment[el]=Σύστημα υποστήριξης του Phonon Xine
Comment[eo]=Phonon Xine interno
Comment[es]=Motor de Xine Phonon
Comment[et]=Phononi Xine taustaprogramm
Comment[eu]=Phonon Xine interfazea
Comment[fi]=Phonon Xine-taustaosa
Comment[fr]=Moteur de traitement Xine pour Phonon
Comment[ga]=Inneall Phonon Xine
Comment[gl]=Infraestrutura Xine para Phonon
Comment[gu]=ફોનોન ઝાઇન બેકએન્ડ
Comment[he]=ממשק Phonon Xine
Comment[hu]=Phonon Xine multimédia rendszer
Comment[is]=Phonon Xine bakendi
Comment[it]=Backend Xine di Phonon
Comment[ja]=Phonon Xine バックエンド
Comment[kk]=Phonon Xine тетігі
Comment[km]=Phonon Xine កម្មវិធី​ខាង​ក្រោយ​
Comment[ko]=Phonon Xine 백엔드
Comment[lv]=Phonon Xine aizmugure
Comment[ml]=ഫോനോണ്‍ സൈന്‍ ബാക്കെന്‍ഡ്
Comment[mr]=फोनॉन Xine बॅकएन्ड
Comment[nb]=Phonon Xine-motor
Comment[nds]=Hülpprogramm Xine för Phonon
Comment[ne]=फोनोन जाइन ब्याकइन्ड
Comment[nl]=Xine-backend (Phonon)
Comment[nn]=Phonon Xine-motor
Comment[pa]=ਫੋਨੋਨ ਜ਼ਾਇਨ ਬੈਕਐਂਡ
Comment[pl]=Obsługa Xine przez Phonon
Comment[pt]=Infra-estrutura do Xine para o Phonon
Comment[pt_BR]=Infra-estrutura do Xine para o Phonon
Comment[ro]=Suport Phonon Xine
Comment[ru]=Движок Xine для системы Phonon
Comment[se]=Phonon Xine-mohtor
Comment[sl]=Hrbtenica Xine za Phonon
Comment[sr]=Ксине као позадина Фонона
Comment[sr@latin]=Xine kao pozadina Phonona
Comment[sv]=Phonon Xine-gränssnitt
Comment[te]=Phonon Xine బ్యాక్ఎండ్
Comment[tg]=Пуштибонии Phonon Xine
Comment[th]=โปรแกรมเบื้องหลัง Phonon Xine
Comment[tr]=Phonon Xine arka ucu
Comment[uk]=Програма Phonon Xine
Comment[uz]=Xine tovush xizmati
Comment[uz@cyrillic]=Xine товуш хизмати
Comment[wa]=Bouye di fond di Phonon Xine
Comment[x-test]=xxPhonon Xine backendxx
Comment[zh_CN]=Phonon Xine 后端
Comment[zh_TW]=Phonon Xine 後端介面
