[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=
Exec=videocapturetestapp
GenericName=Video Capture Test Application
GenericName[pt]=Aplicação de Testes de Captura de Vídeo
GenericName[uk]=Тестова програма для захоплення відео
Icon=videocapturetestapp
MimeType=
Name=videocapturetestapp
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
