[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=
Exec=videocapturetestapp
GenericName=Video Capture Test Application
GenericName[cs]=Testovací aplikace pro nahrávání videa
GenericName[es]=Aplicación para probar la de captura de vídeo
GenericName[et]=Videohõive testrakendus
GenericName[ga]=Feidhmchlár Tástála Físghabhála
GenericName[gl]=Programa de probas para a captura de vídeo
GenericName[ja]=ビデオキャプチャをテストするアプリケーション
GenericName[nds]=Video-Opnehm-Testprogramm
GenericName[nn]=Testprogram for videoopptak
GenericName[pt]=Aplicação de Testes de Captura de Vídeo
GenericName[sv]=Testprogram för videoinspelning
GenericName[uk]=Тестова програма для захоплення відео
GenericName[zh_TW]=影像擷取測試應用程式
Icon=videocapturetestapp
MimeType=
Name=videocapturetestapp
Name[sv]=Videoinspelningstest
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
